.count {
  height: ~"calc(100vh - 350px)";
  padding: 20px;
  max-height: 135px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border-radius: 5px;
  &.total-order {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  }
  &-value {
    font-size: 40px;
    font-weight: 600;
  }
  &.low-stock {
    background-color: #ffe53b;
    background-image: linear-gradient(270deg, #ffe53b 0%, #ff2525 74%);
  }
  &.red {
    background-color: #ff2525 !important;
    background-image: linear-gradient(270deg, #ff2525 0%, #ff2525 74%);
  }
}

.recent-activity {
  &-container {
    height: ~"calc(100vh - 500px)";
  }
}

.login-segment {
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px !important;
  background-color: #708090 !important;
  background-size: 64px 128px !important;
}
